Repository samuelcolvin/cloudkv: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-py, typecheck-py, format-ts, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format-py
        name: Format Python
        entry: make
        args: [format-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-py
        name: Typecheck Python
        entry: make
        args: [typecheck-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: format-ts
        name: Format TypeScript
        entry: make
        args: [format-ts]
        language: system
        types_or: [javascript, ts, json]
        files: "^cf-worker/"
        pass_filenames: false
      - id: typecheck-ts
        name: Typecheck TypeScript
        entry: make
        args: [typecheck-ts]
        language: system
        types_or: [javascript, ts, json]
        files: "^cf-worker/"
        pass_filenames: false

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

test CF worker
  .github/workflows/ci.yml
  README.md
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cloudkv/async_client.py
  cloudkv/shared.py
  cloudkv/sync_client.py
Due: format-py, typecheck-py, format-ts, typecheck-ts

tweak docs
  README.md
  cloudkv/shared.py
Due: format-py, typecheck-py

fix link
  README.md
Due: none

test CF worker (#2)
  .github/workflows/ci.yml
  README.md
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cloudkv/async_client.py
  cloudkv/shared.py
  cloudkv/sync_client.py
Due: format-py, typecheck-py, format-ts, typecheck-ts

Add Logfire instrumentation
  cf-worker/package-lock.json
  cf-worker/package.json
  cf-worker/src/index.ts
  cf-worker/worker-configuration.d.ts
  cf-worker/wrangler.jsonc
Due: format-ts, typecheck-ts

fix ts tests
  .github/workflows/ci.yml
  cf-worker/vitest.config.mts
Due: format-ts, typecheck-ts

Add Logfire instrumentation (#3)
  .github/workflows/ci.yml
  cf-worker/package-lock.json
  cf-worker/package.json
  cf-worker/src/index.ts
  cf-worker/vitest.config.mts
  cf-worker/worker-configuration.d.ts
  cf-worker/wrangler.jsonc
Due: format-ts, typecheck-ts

faster set, do in parallel
  cf-worker/src/index.ts
Due: format-ts, typecheck-ts

fix Promise.all
  cf-worker/src/index.ts
Due: format-ts, typecheck-ts

Faster set (#4)
  cf-worker/src/index.ts
Due: format-ts, typecheck-ts

add Python tests
  .github/workflows/ci.yml
  Makefile
  README.md
  cf-worker/.prettierignore
  cf-worker/package.json
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cloudkv/_utils.py
  cloudkv/async_client.py
  cloudkv/shared.py
  cloudkv/sync_client.py
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_async.py
  tests/test_sync.py
  tests/test_utils.py
  uv.lock
Due: format-py, typecheck-py, format-ts, typecheck-ts

fix python tests in ci
  .github/workflows/ci.yml
Due: none

fix reseting sql
  cf-worker/package.json
  tests/conftest.py
Due: format-py, typecheck-py, format-ts, typecheck-ts

add Python tests (#5)
  .github/workflows/ci.yml
  Makefile
  README.md
  cf-worker/.prettierignore
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cloudkv/_utils.py
  cloudkv/async_client.py
  cloudkv/shared.py
  cloudkv/sync_client.py
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_async.py
  tests/test_sync.py
  tests/test_utils.py
  uv.lock
Due: format-py, typecheck-py, format-ts, typecheck-ts

rename key -> token
  README.md
  cf-worker/schema.sql
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cloudkv/__main__.py
  cloudkv/async_client.py
  cloudkv/shared.py
  cloudkv/sync_client.py
  tests/conftest.py
  tests/test_async.py
  tests/test_sync.py
  tests/test_utils.py
Due: format-py, typecheck-py, format-ts, typecheck-ts

rename js variables
  cf-worker/src/index.ts
Due: format-ts, typecheck-ts

rename `key` -> `token` (#6)
  README.md
  cf-worker/schema.sql
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cloudkv/__main__.py
  cloudkv/async_client.py
  cloudkv/shared.py
  cloudkv/sync_client.py
  tests/conftest.py
  tests/test_async.py
  tests/test_sync.py
  tests/test_utils.py
Due: format-py, typecheck-py, format-ts, typecheck-ts

uprev python package
  pyproject.toml
  uv.lock
Due: none

allow testing against remote, and fix var name
  tests/conftest.py
  tests/test_async.py
  tests/test_sync.py
  tests/test_utils.py
Due: format-py, typecheck-py

allow testing against remote, and fix var name (#7)
  tests/conftest.py
  tests/test_async.py
  tests/test_sync.py
  tests/test_utils.py
Due: format-py, typecheck-py

fix coverage
  Makefile
  README.md
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cloudkv/async_client.py
  cloudkv/sync_client.py
  pyproject.toml
  tests/conftest.py
  tests/test_async.py
  tests/test_sync.py
Due: format-py, typecheck-py, format-ts, typecheck-ts

uprev
  pyproject.toml
  uv.lock
Due: none

fix coverage (#8)
  Makefile
  README.md
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cloudkv/async_client.py
  cloudkv/sync_client.py
  pyproject.toml
  tests/conftest.py
  tests/test_async.py
  tests/test_sync.py
  uv.lock
Due: format-py, typecheck-py, format-ts, typecheck-ts

refactor: use guard clause
  cloudkv/_utils.py
Due: format-py, typecheck-py

refactor: force-validate is kw-only argument
  cloudkv/_utils.py
  cloudkv/async_client.py
  cloudkv/sync_client.py
Due: format-py, typecheck-py

refactor: default is kw-only arg
  cloudkv/_utils.py
  cloudkv/async_client.py
  cloudkv/sync_client.py
Due: format-py, typecheck-py

style: the default value may be None
  cloudkv/_utils.py
  cloudkv/async_client.py
  cloudkv/sync_client.py
Due: format-py, typecheck-py

refactor: avoid long exc message
  cloudkv/_utils.py
Due: format-py, typecheck-py

refactor: use more specific type
  cloudkv/_utils.py
Due: format-py, typecheck-py

refactor: hide cached-type adapter fn
  cloudkv/_utils.py
Due: format-py, typecheck-py

style: split signature of keys-query-params fn into strings
  cloudkv/_utils.py
Due: format-py, typecheck-py

Use reportError
  cf-worker/package-lock.json
  cf-worker/package.json
  cf-worker/src/index.ts
Due: format-ts, typecheck-ts

set env
  cf-worker/worker-configuration.d.ts
  cf-worker/wrangler.jsonc
Due: format-ts, typecheck-ts

add comment
  cf-worker/wrangler.jsonc
Due: none

Use logfire.reportError (#10)
  cf-worker/package-lock.json
  cf-worker/package.json
  cf-worker/src/index.ts
  cf-worker/worker-configuration.d.ts
  cf-worker/wrangler.jsonc
Due: format-ts, typecheck-ts

calculate capacity and insert in a single transaction
  cf-worker/src/index.ts
Due: format-ts, typecheck-ts

test for namespace size exceeded
  cf-worker/package.json
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cf-worker/vitest.config.mts
  cf-worker/worker-configuration.d.ts
  cf-worker/wrangler.jsonc
Due: format-ts, typecheck-ts

format worker-configuration.d.ts
  cf-worker/.prettierignore
  cf-worker/package.json
  cf-worker/worker-configuration.d.ts
Due: format-ts, typecheck-ts

calculate capacity and insert in a single transaction (#11)
  cf-worker/.prettierignore
  cf-worker/package.json
  cf-worker/src/index.ts
  cf-worker/test/index.spec.ts
  cf-worker/vitest.config.mts
  cf-worker/worker-configuration.d.ts
  cf-worker/wrangler.jsonc
Due: format-ts, typecheck-ts

reduce size of "worker-configuration.d.ts"
  cf-worker/package-lock.json
  cf-worker/package.json
  cf-worker/tsconfig.json
  cf-worker/worker-configuration.d.ts
Due: format-ts, typecheck-ts
